<%- include('../header') -%>
<%- include('../nav') -%>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <blockquote class="blockquote text-center">
        <p class="mb-0">매입처 추가/수정</p>
      </blockquote>
    </div>
    <div class="col-md-12">
      <form class="needs-validation" novalidate>
        <div class="form-group">
          <label for="txtnm">매입처명</label>
          <input type="text" class="form-control" id="txtnm" aria-describedby="txtnmFeedback" required>
          <small class="form-text text-muted">매입처명을 입력하세요.</small>
          <div id="txtnmFeedback" class="invalid-feedback">
            매입처명을 입력하세요.
          </div>
        </div>
        <div class="form-group">
          <label for="tell">전화번호</label>
          <input type="text" class="form-control" id="tell">
          <small class="form-text text-muted">전화번호를 입력하세요. 입력 안하셔도 상관 없습니다.</small>
        </div>
        <div class="form-group">
          <label for="addr">주소</label>
          <input type="text" class="form-control" id="addr">
          <div id="wrap"></div>
          <small class="form-text text-muted">주소를 입력하세요. 입력 안하셔도 상관 없습니다.</small>
        </div>

        <button class="btn btn-outline-success" type="submit">저장</button>
        <a class="btn btn-outline-primary" href="/corporation">취소</a>
      </form>
    </div>
    <div class="col-md-12 text-right">
    </div>
  </div>
</div>
<input type="hidden" id="coidx" value="<%=coidx%>">
<%- include('../footer') -%>