<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="소상공인을 위한 무료 재고관리 프로그램">
    <title>P 인벤토리</title>
    <link rel="icon" href="/img/icons8-box-16.png">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/common.css">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-153682262-3"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-153682262-3');

      const ua = window.navigator.userAgent
      const isIE = /MSIE|Trident/.test(ua)
      console.log(isIE)
      if (isIE) {
        window.alert('인터넷 익스플로어 에서는 정상 작동 하지 않습니다. \r\n다른 브라우저를 이용하세요!!!!')
      }
    </script>

  </head>
  <body>