<%- include('./header') -%>
<%- include('./nav') -%>
    <div class="jumbotron">
      <h1 class="display-3">P Inventory</h1>
      <p class="lead"> 이 사이트는 소상공인을 위한 재고 관리 사이트 입니다.</p>
      <p class="lead"> 이 사이트는 무료입니다. 제작자의 사비로 서버 운영을 하고 있습니다. 가끔 속도가 느려질수도 있습니다.</p>
      <p class="lead"> 가급적이면 오래동안 운영할 목적이니 안심하시고 사용하세요.</p>
      <hr class="my-4">
      <p>본 사이트는 저의 재능을 사회에 환원하기 위해 만들었습니다.</p>
      <p>많은 기능 보다는 정말 재고만 관리 하기 위함이고, 귀사에 다른 시스템과 연동을 위하신다면 메일 (<a href="mailto:totomung07@gmail.com">tomochan shim.</a>) 주시기 바랍니다.</p>
      <p>디자인은 없습니다. 부트스트랩으로 간결하게 만들었습니다.</p>
      <p class="lead">
        <a class="btn btn-primary btn-lg" href="/register" role="button" id="register">회원가입</a>
        <a class="btn btn-primary btn-lg" href="/login" role="button" id="login">로그인</a>
      </p>
    </div>
<%- include('./footer') -%>