<nav class="navbar navbar-expand-lg navbar-dark bg-primary" style="margin-bottom: 10px;">
  <img src="/img/icons8-box-30.png" width="30" height="30" class="d-inline-block align-top" alt="" loading="lazy">
  <a class="navbar-brand" href="#">P Inventory V1.0</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/category">카테고리 관리</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/product">제품관리</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/update">사용설명서/업데이트</a>
      </li>
    </ul>
    <span class="navbar-text">
      <a class="nav-link" href="#" id="logout"></a>
    </span>
  </div>
</nav>