<%- include('./header') -%>
<%- include('./nav') -%>
<div class="container">
  <div class="row">
    <div class="col-md-12 blog-main" style="margin-top:1em;">
      <div class="blog-post">
        <h2 class="blog-post-title">사용설명서</h2>
        <p class="blog-post-meta">2020-09-10 by <a href="mailto:totmung07@gmail.com">loah</a></p>
        <p>기초공사 > 카테고리 관리</p>
        <ul>
          <li>카테고리 관리에서 자신의 카테고리를 만듭니다.</li>
          <li>제품을 등록하기 위해선 카테고리를 3단계 까지 만드셔야 합니다.</li>
          <li>예시: 카테고리1 -> 바지, 카테고리2 -> 청바지, 카테고리3 -> 32</li>
        </ul>
        <p>기초공사 > 제품 관리</p>
        <ul>
          <li>관리하실 제품을 등록하셔야 합니다.</li>
          <li>카테고리를 선택하시고, 해당 제품을 입력 후 저장합니다.</li>
        </ul>
        <p>매입/매출관리 > 수량관리</p>
        <ul>
          <li>제품의 수량을 입력하고 저장합니다.</li>
          <li>가격까지 같이 저장하시면, 추후 매출/매입 가격을 파악 하실 수 있습니다.</li>
          <li>양수로 입력하시면 매입으로 잡히며, 음수로 입력하시면 매출로 잡힙니다.</li>
          <li>현재 수량은 매출로 잡히게 되면 차감되어 지고, 매입으로 잡히면 증가 하게 됩니다.</li>
        </ul>
        <p>매입/매출관리 > 매입/매출 조회</p>
          <ul>
            <li>현재까지 입력한 매입,매출 데이터를 조회 할 수 있습니다.</li>
          </ul>
        <p>매입/매출관리 > 통계</p>
        <ul>
          <li>상품별 조회 조건에 따른 총 수량과 가격을 보실 수 있습니다.</li>
        </ul>
        <hr>
      </div>

      <div class="blog-post">
        <h2 class="blog-post-title">업데이트 내역</h2>
        <p class="blog-post-meta">2020-09-10 by <a href="mailto:totmung07@gmail.com">loah</a></p>
        <p>사이트 제작 완성 및 오픈</p>
        <hr>
      </div>

      <div class="blog-post">
        <h2 class="blog-post-title">업데이트 내역</h2>
        <p class="blog-post-meta">2020-09-11 by <a href="mailto:totmung07@gmail.com">loah</a></p>
        <p>공지사항이 있을시 공지 사항 표시 추가. </p>
        <hr>
      </div>

    </div>
  </div>
</div>
<%- include('./footer') -%>