<%- include('./header') -%>
<%- include('./nav') -%>
<div class="container">
  <div class="row">
    <div class="col-md-12 blog-main" style="margin-top:1em;">
      <div class="blog-post">
        <h2 class="blog-post-title">사용설명서</h2>
        <p class="blog-post-meta">2020-09-10 by <a href="mailto:totmung07@gmail.com">loah</a></p>
        <p>카테고리를 추가합니다. 카테고리는 3단계 뎁스로 구성되어 있습니다.</p>
        <p>1단계 또는 2단계 까지 카테고리가 필요하시더라도 <strong>3단계 까지 구성하셔야 합니다.</strong></p>
        <p>생성된 카테고리를 선택하시고 상품을 입력 하시고, 추가 물량 수량을 입력하시면 됩니다. ^^</p>
        <hr>
      </div>

      <div class="blog-post">
        <h2 class="blog-post-title">업데이트 내역</h2>
        <p class="blog-post-meta">2020-09-10 by <a href="mailto:totmung07@gmail.com">loah</a></p>
        <p>사이트 제작 완성 및 오픈</p>
        <hr>
      </div>
    </div>
  </div>
</div>
<%- include('./footer') -%>