<%- include('../header') -%>
<%- include('../nav') -%>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <blockquote class="blockquote text-center">
        <p class="mb-0">제품 추가/수정</p>
      </blockquote>
    </div>

    <div class="col-md-12 text-right">
      <a class="btn btn-outline-primary" href="/product/list">목록</a>
    </div>
  </div>
</div>
<%- include('../footer') -%>