<%- include('../header') -%>
<%- include('../nav') -%>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <blockquote class="blockquote text-center">
        <p class="mb-0">제품 추가/수정</p>
      </blockquote>
    </div>
    <div class="col-md-12">
      <form class="needs-validation" novalidate>
        <div class="form-group">
          <label for="sel1">카데고리1</label>
          <select class="form-control" id="sel1" required>
          </select>
          <small class="form-text text-muted">첫번째 카테고리를 선택하세요.</small>
          <div class="invalid-feedback">
            카테고리를 선택하세요.
          </div>
        </div>
        <div class="form-group">
          <label for="sel2">카데고리2</label>
          <select class="form-control" id="sel2" required>
          </select>
          <small class="form-text text-muted">두번째 카테고리를 선택하세요.</small>
          <div class="invalid-feedback">
            카테고리를 선택하세요.
          </div>
        </div>
        <div class="form-group">
          <label for="sel3">카데고리3</label>
          <select class="form-control" id="sel3" required>
          </select>
          <small class="form-text text-muted">세번째 카테고리를 선택하세요.</small>
          <div class="invalid-feedback">
            카테고리를 선택하세요.
          </div>
        </div>
        <div class="form-group">
          <label for="txtnm">제품명</label>
          <input type="text" class="form-control" id="txtnm" aria-describedby="txtnmFeedback" required>
          <small class="form-text text-muted">제품명을 입력하세요.</small>
          <div id="txtnmFeedback" class="invalid-feedback">
            제품명을 입력하세요.
          </div>
        </div>
        <!-- <div class="form-group">
          <label for="qty">수량</label>
          <input type="number" class="form-control" id="qty" aria-describedby="qtyFeedback" min="0" required>
          <small class="form-text text-muted">최초 수량을 입력하세요.</small>
          <div id="qtyFeedback" class="invalid-feedback">
            최초 수량을 입력하세요.
          </div>
        </div> -->
        <div class="form-group">
          <label for="desc">비고</label>
          <input type="text" class="form-control" id="desc">
          <small class="form-text text-muted">추가적으로 기입하시고 싶은걸 입력하세요.</small>
        </div>
        <button class="btn btn-outline-success" type="submit">저장</button>
        <a class="btn btn-outline-primary" href="/product">취소</a>
      </form>
    </div>
    <div class="col-md-12 text-right">
      
      
    </div>
  </div>
</div>
<%- include('../footer') -%>